*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
}
.container {
  text-align: center;
  font-family: sans-serif;
}

.for-headings {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color:#252B42;
}
.for-paragraphs{
  font-size: 1.5rem;
  color:#737373;
}
.overflow-defence {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width:700px) {
  :root {
    font-size: 18px;
  }
}
