.download-sec {
  background-color:rgba(37, 43, 66, 1);
  padding: 4rem 1.5rem;
}
.download-heading,
.download-btn
{
  color:white;
}
.download-p {
  color:rgba(189, 189, 189, 1);
}
.download-p,
.download-heading {
  margin-bottom: 2rem;
}
.download-btn-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.download-btn {
  font-weight: 700;
  font-size: 1.1rem;
  border: 1px solid;
  border-radius: 9px;
  padding: 15px 30px;
  margin: 1rem 10px;
  display: block;
  min-width: 130px;
}
.orange-btn {
  border: none;
}
@media screen and (max-width:340px) {
  .download-btn-wrapper{
    flex-wrap: wrap;
  }
}

@media screen and (min-width:600px) {
  .download-sec {
    background-image: url(./../img/second-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download-heading {
    margin-top: 1rem;
  }
  .download-btn {
    margin: 1rem 1rem;
  }
}