.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-img {
  width: 100%;
  height: 100%;
}
 .header-heading,
.header-text {
  margin-bottom: 1.6rem;
  position: relative;
}
.header-content-wrapper{
  max-width: 600px;
  margin: 0 auto;
}

.header-heading::before {
  content: 'Food app';
  position: absolute;
  left: 0;
  right: 0;
  top: -1.8rem;
  font-size: 1rem;
  color:#737373;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.header-btn {
  font-weight: 700;
  font-size: 1.1rem;
  border: 1px solid;
  border-radius: 2rem;
  padding: 15px 30px;
  min-width: 220px;
  margin-bottom: 1rem;
}
.orange-btn,
.white-btn {
  transition: background-color ease 0.3s,color ease 0.5s;
}

.orange-btn{
  background-color: #FA4A0C;
  color:white;
  border: none;
}
.orange-btn:hover {
  background-color: white;
  color:#FA4A0C;
}
.white-btn {
  color:#FA4A0C;
}
.white-btn:hover {
  background-color: white;
  color:#FA4A0C;
}

@media screen and (max-width:599px) {
  .nav{
    margin-bottom: 2rem;
    padding: 1rem;
  }
}

@media screen and (min-width:600px) {
  .header-heading,
  .header-text,
  .header-heading::before,
  .white-btn {
    color:white;
  }
  .header {
    background-image: url(./../img/first-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
  }
  .header-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .header-btn {
    margin: 1rem;
  }
  .logo {
    width: 100px;
    height: 60px;
  }
  .nav {
    padding-right: 5%;
    padding-left: 10%;
  }
  .container {
    padding: 0;
  }
}
@media screen and (min-width:1200px) {
  .header-btn {
    padding: 15px 40px;
    min-width: 230px;
    margin-bottom: 0; 
  }
  .header-heading {
    line-height: 3rem;
    font-size: 3rem;
  }
  .header-content-wrapper{
    min-width: 700px;
  }
}