.two-phones{
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}
.two-phones-wrapper {
  min-width: 200px;
}

.del-food-img{
  margin-left: -2rem;
  margin-top:3rem;
}
@media screen and (max-width:380px){
  .two-phones {
    flex-direction: column;
  }
  .two-phones-wrapper {
    margin: 0;
  }
  
}
@media screen and (min-width:600px) {
  .two-phones{
    margin-top: -6rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.534);
  }
}